.wrapper {
  min-height: 70vh;
}

body {
  font-family: 'Press Start 2P', cursive;
}

body:before {
  content: "";
  display: block;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -10;
  /* background: url("https://cdn.pixabay.com/photo/2016/03/21/00/55/background-1269777_960_720.png") no-repeat center center fixed;  */
  background: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
