.card {
  width: 18rem;
  margin-bottom: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: black;
}

#all-projects {
  margin-top: 200px;
}

.projects {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  align-content: center;
  margin-top: 50px;
  /* min-height: 70vh; */
  /* margin-bottom: 50px; */
}

#project-header {
  text-align: center;
}