.card {
  width: 18rem;
  margin-bottom: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: black;
  font-size: 15px;
}

.card-title {
  font-family: 'Press Start 2P', sans-serif;
  text-align: center;
}

.card-text {
  color: white;
  padding: 20px;
  margin-left: -15px;
}

#all-projects {
  min-height: 100vh;
  padding: 100px 0;
  /* background: url("https://i.giphy.com/media/2J0g27YvOsqUE/giphy.webp") 100%; */
  background: #182c69;
  font-family: 'Roboto Mono', monospace;
}

.projects {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-top: 50px;
  /* min-height: 70vh; */
  /* margin-bottom: 50px; */
}

#project-header {
  text-align: center;
  font-family: 'Press Start 2P', sans-serif;
  color: white;
  padding-bottom: 10vh;
}

#henry-gif {
  width: 100%;
}