.about-me {
  font-size: 15px;
  /* min-height: 70vh; */
  padding: 100px 0;
  background: #333;
  color: white;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  min-height: 110vh;
}

#about-me {
  padding-top: 100px;
  padding-right: auto;
  padding-left: auto;
}

#henry-head-div {
  display: block;
  justify-content: center;
  margin: 0 auto;
}

#henry-head {
  width:100%;
}

.about-me > div {
  display: flex;
}

.about-me-buttons {
  display: flex;
  justify-content: flex-end;
  color: rgba(0, 0, 0, 0.603);
  cursor: pointer;
}

#about-header {
  text-align: center;
  display: inline block;
  /* border-bottom: 2px white solid;
  padding-bottom: 5px; */
}

#first-about {
  margin-top: 30px;
}


@media only screen and (max-width: 2000px) {
  .about-me { 
    font-size: 15px;
  }
}

@media only screen and (max-width: 1300px) {
  .about-me { 
    font-size: 15px;
  }
}

@media only screen and (max-width: 980px) {
  .about-me { 
    font-size: 15px;
  }
}

@media only screen and (max-width: 415px) {
  .about-me { 
    font-size: 15px;
  }
  #henry-head {
    width: 95%;
  }
  #henry-gif {
    width: 100%;
  }
}

@media only screen and (max-width: 375px) {
  .about-me { 
    font-size: 13px;
  }
}

@media only screen and (max-width: 330px) {
  .about-me { 
    font-size: 12px;
  }
}