.nav.nav-tabs{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  text-align: center;
  /* margin-bottom: 50px; */
  bottom: 0;
  align-items: flex-end;
  background: #ea4403;
  font-family: 'Roboto Mono', monospace;
}

.up.navbar.navbar-expand-md.navbar-light {
  overflow: hidden;
  z-index: 10;
  background: transparent;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
}

.down.navbar.navbar-expand-md.navbar-light {
  overflow: hidden;
  z-index: 10;
  border-bottom: 2px rgba(51, 51, 51, 0.397) inset;
  background: white;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
}


@media only screen and (max-width: 846px) {
  #navbar { 
    height: auto;
    min-height: 60px;
  }
}

.navbar-light .navbar-nav .nav-link{
  color: rgb(185, 185, 185);
  margin: 20px;
}

.down.navbar-light .navbar-nav .nav-link{
  color: #333;
  margin: 20px;
}

.navbar-light .navbar-brand {
  color: rgb(219, 219, 219);
}

.navbar-light .navbar-brand.down {
  color: black;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
/* .sticky + #behind-henry {
  padding-top: 60px;
} */


.nav-tabs>li.nav-item>, .nav-tabs>li.nav-item:hover, .nav-tabs>li.nav-item:focus{

  color: #931c00;
  }

  ul.react-reveal.nav.nav-tabs {
    /* border-bottom: black; */
  }
  
  a.nav-link.active {
    color: red;
  }

  @media only screen and (max-width: 375px) {
    .nav.nav-tabs { 
      font-size: 15px;
    }
  }
  
  @media only screen and (max-width: 330px) {
    .nav.nav-tabs { 
      font-size: 12.5px;
    }
  }
  