.nav.nav-tabs{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  text-align: center;
  /* margin-bottom: 50px; */
  bottom: 0;
  align-items: flex-end;
  background: #ea4403;
}

#navbar {
  overflow: hidden;
  z-index: 10;
  background: #6495ed;
  height: 60px;
}

@media only screen and (max-width: 846px) {
  #navbar { 
    height: auto;
    min-height: 60px;
  }
}

.nav-link {
  color: #120f0e;
  margin: 20px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + #begin-content {
  padding-top: 60px;
}

#begin-content {
  
}

.nav-tabs>li.nav-item>, .nav-tabs>li.nav-item:hover, .nav-tabs>li.nav-item:focus{

  color: #931c00;
  }

  ul.react-reveal.nav.nav-tabs {
    /* border-bottom: black; */
  }
  
  a.nav-link.active {
    color: red;
  }

  @media only screen and (max-width: 375px) {
    .nav.nav-tabs { 
      font-size: 15px;
    }
  }
  
  @media only screen and (max-width: 330px) {
    .nav.nav-tabs { 
      font-size: 12.5px;
    }
  }
  