/* 
.home{
  margin-top: 50px;
} */
/* 
.home>img {
  width: 100%;
  margin-bottom: 50px;
} */
#behind-color {
  z-index: -100;
  background: #06122a;
}

#behind-henry {
  /* background: url("https://i.imgur.com/XZoWyc7.png"); */
  background: url("https://i.imgur.com/qiUOU5i.jpg");
  /* background: url("https://i.giphy.com/media/2J0g27YvOsqUE/giphy.webp") 100%; */
  /* width: 100%; */
  /* background-repeat: repeat; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  
  min-height: 110vh;
  /* background-size: cover;
  background-position: center center; */

}


.huge.header {
  font-size: 2rem;
}

#typed.react-reveal {
  font-size: 20px;
  bottom: 0;
  position: relative;
  color: black;
  justify-content: center;
  align-content: center;
  margin: auto;
  text-align: center;
}

#github-home, #linkedin-home, #stack-home {
  z-index: 10;
  height: 50px;
  margin: 0px 20px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  border-radius: 30px;
}

#henrys-links {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

#henry-winget {
  text-align: center;
  display: block;
  color: white;
  padding-top: 30vh;
  font-size: 75px;
  font-family: 'Press Start 2P', sans-serif;
}

#typed {
  text-align: center;
  position: relative;
  display: block;
  color: rgb(219, 219, 219);
  padding-top: 3vh;
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
}

#arrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#arrow-down {
  width: 50px;
  /* padding-top: 15vh; */
  -webkit-animation-name: hover; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  /* -webkit-animation-delay: 2s; Safari 4.0 - 8.0 */
  animation-name: hover;
  animation-duration: 1s;
  /* animation-delay: 2s; */
  animation-iteration-count: infinite;
  bottom: 0;
}

@-webkit-keyframes hover {
  0%   {padding-top: 10vh; opacity: 1;}
  50%   {padding-top: 12vh; opacity: .75;}
  100% {padding-top: 10vh; opacity: 1;}
}

@media only screen and (max-width: 2000px) {
  /* #typed { 
    font-size: 25px;
  } */
}

@media only screen and (max-width: 1300px) {
  /* #typed { 
    font-size: 25px;
  } */
}

@media only screen and (max-width: 980px) {
  /* #HenryImage { 
    background-position: center center;
  } */
}

/* @media only screen and (max-width: 769px) {
  #HenryImage { 
    background-position: center center;
  }
} */

@media only screen and (max-width: 415px) {
  .huge.header { 
    font-size: 1em;
  }

  #typed {
    font-size: 28px;
  }

  #henry-winget {
    font-size: 55px;
  }
}

@media only screen and (max-width: 376px) {
  #typed { 
    font-size: 20px;
  }

  #henry-winget {
    font-size: 50px;
  }
}

@media only screen and (max-width: 319px) {
  #typed { 
    font-size: 18px;
  }
}


.home>p{
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

/* .reactive-p {
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;

  }
 */
