#contact-form {
  margin-top: 50px;
  margin-bottom: 50px;
}

#contact-form>form {
  background-color: rgba(255, 255, 255, 0.171);
  border: 5px groove;
  padding: 20px;
  padding-bottom: 25px;
}

/* @media only screen and (max-width: 2000px) {
  #contact-form { 
    font-size: 28px;
  }
}

@media only screen and (max-width: 1300px) {
  #contact-form { 
    font-size: 25px;
  }
} */

@media only screen and (max-width: 980px) {
  #contact-form { 
    font-size: 20px;
  }
}

@media only screen and (max-width: 415px) {
  #contact-form { 
    font-size: 13px;
  }
  #contact-henry {
    text-align: center;
  }
  #contact-form>form {
    padding: 10px;
  }
}

@media only screen and (max-width: 330px) {
  #contact-form { 
    font-size: 12px;
  }
}