.Footer_div {
    background: rgb(0, 0, 0);
    background: linear-gradient(rgb(0, 0, 0), rgb(5, 5, 5) 50%, rgb(5, 5, 5), rgb(0, 0, 0));
    /* padding-top: 10px; */
    padding-bottom: 25px;
    margin: 0 !important;
    border-top: 1px solid white;
}

.typing-gif {
    width: 250px;
    height: 250px;
}

.typing-gif-col {
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    padding-top: 50px;
    width: 200px;
    padding-right: 250px;
}

.Icon-col {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 125px;
}

.Footer_text {
    color: darkgray;
    text-align: right;
    padding-top: 20px;
}

@media only screen and (max-width: 500px) {
    .Icon-col { 
        justify-content: center;
        padding-top: 50px;
    }
    .typing-gif-col {
        justify-content: center;
        padding-right: 0;
        padding-top: 0;
    }
    .Footer_text {
        color: darkgray;
        text-align: center;
        font-size: 12px;
    }
  }
  