#contact-form {
  padding: 100px 0;
  min-height: 110vh;
  padding: 100px 0;
  background: #06122a;
  /* background: url("https://i.giphy.com/media/2J0g27YvOsqUE/giphy.webp") 100%; */
  color: white;
  font-family: 'Roboto Mono', monospace;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

#contact-form>form {
  background-color: rgba(255, 255, 255, 0.171);
  border: 5px groove;
  padding: 20px;
  padding-bottom: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#contact-henry {
  text-align: center;
  font-family: 'Press Start 2P', sans-serif;
}
/* .row {
  margin-right: 15px;
  margin-left: 15px;
} */

/* @media only screen and (max-width: 2000px) {
  #contact-form { 
    font-size: 28px;
  }
}

@media only screen and (max-width: 1300px) {
  #contact-form { 
    font-size: 25px;
  }
} */

.contacts a {
  color: white;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10vh;
}

@media only screen and (max-width: 2000px) {
  .contacts a p {
    font-size: 30px;
  }
}

@media only screen and (max-width: 800px) {
  .contacts a p {
    font-size: 20px;
  }
  #contact-henry {
    text-align: center;
  }
}

@media only screen and (max-width: 500px) {
  .contacts a p {
    font-size: 14px;
  }
  /* .contacts a p img {
    width: 10%;
  } */
}

@media only screen and (max-width: 350px) {
  .contacts a p {
    font-size: 12px;
  }
  /* .contacts a p img {
    width: 10%;
  } */
}