.about-me {
  font-size: 20px;
  min-height: 70vh;
  margin-top: 50px;
}

.about-me-buttons {
  display: flex;
  justify-content: flex-end;
  color: rgba(0, 0, 0, 0.603);
  cursor: pointer;
}

@media only screen and (max-width: 2000px) {
  .about-me { 
    font-size: 25px;
  }
}

@media only screen and (max-width: 1300px) {
  .about-me { 
    font-size: 23px;
  }
}

@media only screen and (max-width: 980px) {
  .about-me { 
    font-size: 20px;
  }
}

@media only screen and (max-width: 415px) {
  .about-me { 
    font-size: 15px;
  }
}

@media only screen and (max-width: 375px) {
  .about-me { 
    font-size: 13px;
  }
}

@media only screen and (max-width: 330px) {
  .about-me { 
    font-size: 12px;
  }
}