.Skills-section {
    min-height: 100vh;
    font-family: 'Press Start 2P', sans-serif;
    padding: 100px 0;
    background: linear-gradient(#06133c, #07154b 50%, #07154b 25%, #06122a);
    color: white;
}

.Skills-header-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;
}

.Skills-icons-board {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.Skills-icons-img {
    border-radius: 5px;
    width: 128px;
    height: 128px;
}

@media only screen and (max-width: 450px) {
    .Skills-icons-img{
        width: 100px;
        height: 100px;
    }
    .Skills-icons-board{
        font-size: 14px;
    }
  }